npm-debug.log
yarn-error.log

jsconfig.json
typings.json
typings/
settings.json
.DS_Store

node_modules/*

build/*
coverage/

*.iml
.idea/
*.ipr
*.iws

.vscode

/out/

.idea_modules/
atlassian-ide-plugin.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
